*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page_wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 100px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}
.logo {
  padding-left: 20px;
}
.header_nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.nav_item {
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.nav_item > li {
  display: inline-block;
}
.nav_item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.main {
  display: flex;
  flex: 1 1 auto;
}
.main_content {
  padding: 5px;
  margin: 0 5px;
  flex: 1 1 auto;
}
.main_text {
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
}

.side_left {
  display: flex;
  order: -1;
  flex: 0 0 210px;
  background-color: rgb(228, 111, 131);
  justify-content: center;
}
.side_right {
  display: flex;
  justify-content: center;
  order: 1;
  flex: 0 0 210px;
  flex-wrap: wrap;
  background-color: rgb(64, 64, 224);
}

.footer {
  height: 50px;
  background-color: lightgreen;
}
.footer_text {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 20px;
}
.title {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  text-shadow: 4px 9px 10px;
}
.main_cards img {
  width: 150px;
  height: 150px;
  border: 10px solid rgb(158, 156, 243);
  border-radius: 50%;
  flex: 0 0 auto;
}
.main_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 360px;
  min-height: 480px;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 25px blue;
}
.card > p {
  display: flex;
  text-align: center;
  flex: 1 0 auto;
  align-items: flex-start;
  font-size: 20px;
}
.main_cards a {
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: rgb(79, 79, 218);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
/* третье */

.ex3 {
  text-align: center;
}
.holder {
  width: 600px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px 20px 0 0;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 0 auto;
  border: 1px solid red;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}
.holder div:first-child {
  background-color: rgb(255, 121, 32);
  order: -3;
  flex-basis: 50%;
}
.holder div:nth-child(2n + 3) {
  background-color: rgb(179, 5, 231);
  order: -1;
}
.holder div:last-child {
  background-color: rgb(245, 127, 127);
  order: -2;
  flex-basis: 50%;
}
.holder div:nth-child(2n + 2) {
  background-color: rgb(68, 65, 235);
}
.holder div:nth-child(2n + 4) {
  background-color: green;
}
